@page "/agenda"
@page "/mainsite/agenda"
@layout EmptyLayout




<div class="tr-bg-header text-center">
    <h3 class="p-4 text-light">
        Time out for life agenda
    </h3>
</div>

<div class="mx-4 tr-bg-table d-none d-md-block">
    <div class="row mx-auto">
        <div class="col-2 py-2">
            <div class="row">
                <div class="col-6">
                    <span class="tr-fs-12"><b>Channel</b></span>

                </div>
                <div class="col-6">
                    <span>09:15–09:30</span>

                </div>
            </div>
        </div>
        <div class="col-2 py-2">
            <span>09:15–09:30</span>
        </div>
        <div class="col-2 py-2">
            <span>09:30–10:00</span>

        </div>
        <div class="col-2 py-2">
            <span>10:00–10:30</span>

        </div>
        <div class="col-2 py-2">
            <span>10:30-11:00</span>

        </div>
        <div class="col-2 py-2">
            <span>11:00-11:15</span>

        </div>
    </div>
    <div class="row mx-auto">

        <div class="col-2 pe-0">
            <div class="row h-100 pb-1">
                <div class="col-3">
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 p-1 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-24">1</b>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 tr-bg-gray rounded-3 p-1 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-24">2</b>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 p-1 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-24">3</b>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 ms-1 mb-1 pb-3">
                        <div class="col-12 tr-bg-gray rounded-3 p-1 pb-0 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-24">4</b>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-9 pe-0">
                    <div class="bg-white rounded-3 p-1 h-100 d-flex align-items-center">
                        <b class="text-center">Management Board Introduction</b>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row mx-auto">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote speaker</b></label>
                        <div>

                            Dr Zoe Williams
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Auto pilot and the ripple effect
                        </div>
                        <div>
                            Delivered by chris woods, karrdale
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Understanding burn out
                        </div>
                        <div>
                            Delivered by Mental Health at Work
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Building on your fitness
                        </div>
                        <div>
                            Delivered by Elevate
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker </b></label>
                        <div>
                            Simon Thomas
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Risk psychology
                        </div>
                        <div>
                            Delivered by Piers Fleming, UEA
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Reset yourself with a mindfulness workshop
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Managing lower back pain
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker</b></label>
                        <div>
                            Nigel Owens
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Jason and Abbi’s personal story
                        </div>
                        <div>
                            Delivered by Jason Ankers & Abbi Taylor
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Supporting your colleagues with mental health
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Stretch and flex
                        </div>
                        <div>
                            Delivered by Vita Health Group
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mx-auto py-1">
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker</b></label>
                        <div>
                            Damian Hughes and Jake Humphrey
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Leadership behaviours
                        </div>
                        <div>
                            Delivered by OAH Law
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Managing the cost of living
                        </div>
                        <div>
                            Delivered by Salary Finance
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Healthy lifestyle
                        </div>
                        <div>
                            Delivered by Vita Health Group
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-2 mb-1">
            <div class="bg-white rounded-3 d-flex align-items-center h-100">
                <div>
                    <div class="text-center mx-auto"><b class="p-md-0 ps-lg-5">Director Close</b></div>
                </div>

            </div>
        </div>

    </div>
</div>

@*this is for a mobile device*@
<div class="mx-4 tr-bg-table d-md-none d-block tr-fs-8">
    <div class="row mx-auto">
        <div class="col-2 py-2">
            <div class="row">
                <div class="col-6">
                    <span class=""><b>Channel</b></span>
                </div>
                <div class="col-6">
                    <span>09:00–09:15</span>
                </div>
            </div>
        </div>
        <div class="col-2 py-2">
            <span>09:15–09:30</span>

        </div>
        <div class="col-2 py-2">
            <span>09:30–10:00</span>


        </div>
        <div class="col-2 py-2">
            <span>10:00–10:30</span>

        </div>
        <div class="col-2 py-2">
            <span>10:30-11:00</span>

        </div>
        <div class="col-2 py-2">
            <span>11:00-11:15</span>

        </div>
    </div>
    <div class="row mx-auto">

        <div class="col-2 px-0">
            <div class="row h-100 pb-1">
                <div class="col-4">
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 px-0 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-12">1</b>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 tr-bg-gray rounded-3 px-0 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-12">2</b>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 px-0 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-12">3</b>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 ms-1 mb-1 pb-3">
                        <div class="col-12 tr-bg-gray rounded-3 px-0 pb-0 h-100 d-grid align-items-center">
                            <div class="text-center">
                                <b class="tr-fs-12">4</b>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-8 px-0">
                    <div class="bg-white rounded-3 px-0 h-100 d-flex align-items-center">
                        <b class="text-center">Management <br /> Board <br /> Introduction</b>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 px-0">
            <div class="row mx-auto">
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote speaker</b></label>
                        <div>

                            Dr Zoe Williams
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Auto pilot and the ripple effect
                        </div>
                        <div>
                            Delivered by chris woods, karrdale
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Understanding burn out
                        </div>
                        <div>
                            Delivered by Mental Health at Work
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Building on your fitness
                        </div>
                        <div>
                            Delivered by Elevate
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker </b></label>
                        <div>
                            Simon Thomas
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Risk psychology
                        </div>
                        <div>
                            Delivered by Piers Fleming, UEA
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Reset yourself with a mindfulness workshop
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Managing lower back pain
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker</b></label>
                        <div>
                            Nigel Owens
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Jason and Abbi’s personal story
                        </div>
                        <div>
                            Delivered by Jason Ankers & Abbi Taylor
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Supporting your colleagues with mental health
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Stretch and flex
                        </div>
                        <div>
                            Delivered by Vita Health Group
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mx-auto py-1">
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker</b></label>
                        <div>
                            Damian Hughes and Jake Humphrey
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Leadership behaviours
                        </div>
                        <div>
                            Delivered by OAH Law
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Managing the cost of living
                        </div>
                        <div>
                            Delivered by Salary Finance
                        </div>
                    </div>

                </div>
                <div class="col-3 px-0">
                    <div class="tr-bg-gray rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Healthy lifestyle
                        </div>
                        <div>
                            Delivered by Vita Health Group
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-2 mb-1 ps-0">
            <div class="bg-white rounded-3 d-flex align-items-center h-100 ps-0">
                <div>
                    <div class="text-center mx-auto"><b class="text-center ps-2">Director <br /> Close</b></div>
                </div>

            </div>
        </div>

    </div>
</div>



<hr class="bg-primary p-1" />

<div class="row mx-auto">
    <div class="col-3 col-lg-3 col-12">
        <div class="row ">
            <div class="col-md-6 col-lg-6 col-12 ">
                <div class="  text-center">
                    <div>
                        <b>Happier.</b>
                    </div>
                    <div>
                        <b>Healthier.</b>
                    </div>
                    <div>
                        <b>Safer.</b>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12 text-center">
                <img src="images/logo_life_circle.png" style="height: 100px;" />
            </div>
        </div>
    </div>

    <div class="col-2 col-lg-2 col-12">
        <div class="d-grid gap-2 mt-4">
            <a href="/mainsite/channel/1" class="btn bg-warning">Watch Live</a>

        </div>
    </div>
    <div class="col-2 col-lg-2 col-12">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn tr-btn">Help</button>
        </div>
    </div>
    <div class="col-2 col-lg-2 col-12">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn bg-danger">Logout</button>
        </div>
    </div>

    <div class="col-2 col-lg-2 col-12 text-center">
        <img src="images/logo_love-every-drop.png" class="ms-5" />
    </div>

</div>


<style>

    .tr-bg-gray {
        background-color: #ECECEC !important;
    }

    .tr-bg-table {
        background-color: #bcd6e6;
    }

    .tr-fs-8 {
        font-size: 8px;
    }

    .tr-fs-12 {
        font-size: 12px;
    }

    .tr-fs-4 {
        font-size: 4px;
    }

    .tr-fs-24 {
        font-size: 24px;
    }
</style>
